
h1{
    background-color: red;
    border: 2px solid black;
}

@media(width:400px) {
    h1{
        background-color: yellowgreen;
        color: #fff;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}

@media(min-width:700px){
    h1{
        background-color: rgb(12, 50, 68);
    }
}

@media(max-width:200px){
    h1{
        background-color: rgb(228, 125, 29);
    }
}

@media(min-width:200px) and (max-width:300px){
    h1{
        background-color: deeppink;
    }
}

@media (orientation:landscape){
    h1{
        background-color: aqua;
        color: black;
    }
}