
*{
    font-family: 'Courier New';
}

h1,h3{
    color: #b92b27;
}
#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: aliceblue;
}

.post a{
    color: purple;
    background-color: yellow;
}

nav ul li {
    color: rgb(221, 73, 98);
}
p +h3{
    text-decoration: underline;
}

.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
}
div>input{
    background-color: darksalmon;
}

input[type="text"]{
    color:red;
}

input[type="password"]{
    color:green;
}
input[type]{
    background-color: ghostwhite;
}
#myid p {
    color: rgb(0, 255, 21);
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}

button:active{
    background-color: hotpink;
}

p:active{
        font-weight: bold;
        color: green;
}
input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}

h1::first-letter{
    color: black;
}

p::first-line{
    color: blue;
}

p::selection{
    background-color: rgb(177, 135, 29);
}

h3{
    background-color: azure;
}

h3{
    background-color: rgb(63, 194, 194);
}